doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
    h1 Update user object form
      p
        a(href="/") Return to the main page

  form(method="post" action="/update-cobj")
    each prop in props
      - const labelText = prop.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase());
      .form-row
        label(for=prop)= labelText
        if prop === 'dog_bio'
          textarea(name=prop rows="3" placeholder=`Enter ${labelText}`)
        else
          input(type="text" name=prop placeholder=`Enter ${labelText}`)
    button.btn(type="submit") Add item

